.personal-info {
    display: flex;
    align-items: center;
}

.photo {
    flex-shrink: 0;
    margin-right: 20px;
}

.photo img {
    max-width: 200px;
}

.info {
    flex-grow: 1;
}

#personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#photo-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

#photo-container img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

#personal-info>div {
    flex: 1 1 auto;
    text-align: left;
}

/* Education */
.education-item {
    background-color: #ffd3b6;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

/* Skills */
.skills-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.skills-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.skills-description {
    display: none;
    margin-left: 20px;
    font-size: 14px;
}

.skills-description.expanded {
    display: block;
}

/* Styles for the arrow icon */
.skills-arrow {
    cursor: pointer;
}

.skills-arrow::before {
    content: "\25B6";
    /* Unicode for right-pointing triangle (►) */
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

/* Rotate the arrow when the box is expanded */
.skills-item.expanded .skills-arrow::before {
    transform: rotate(90deg);
}

.skills-arrow.expanded::before {
    transform: rotate(90deg);
}

.about-heading {
    display: flex;
    align-items: center;
}

/* Experience */
.experience-item {
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.experience-title {
    margin: 5px;
    font-size: medium;
}

.experience-item p {
    margin: 10px;
}


.experience-description.collapsed {
    display: none;
}

.experience-item.expanded .skills-arrow::before {
    transform: rotate(90deg);
}

@media (max-width: 960px) {

    .photo img {
        max-width: 150px;
    }
}