/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    padding-left: 2px;
}

/* Card items */
.grid-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    border: 2px solid rgba(255, 4, 4, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item h2 {
    font-size: larger;
    margin: 10px;
}

.grid-item p {
    margin: 0 10px 10px;
}

@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

