.toggle-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 104px;
    height: 36px;
    box-sizing: border-box;
    padding: 0 14px;
    font-size: 15px;
    border: none;
    background-color: #8c0c0c;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 0;
}

.sort-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 104px;
    height: 36px;
    box-sizing: border-box;
    padding: 0 30px 0 14px;
    font-size: 15px;
    border: none;
    background-color: #8c0c0c;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 0;
}

.toggle-button:hover,
.sort-button:hover {
    background-color: #a91a1a;
}

.toggle-button.active {
    background-color: #d42626;
}

.count-label {
    font-size: 16px;
    color: #8c0c0c;
    margin-right: auto;
}

.sort-button.active .arrow::before {
    transform: rotate(-45deg);
}

.sort-button.active .arrow::after {
    transform: rotate(45deg);
}

.button-container {
    display: grid;
    align-items: center;
}


.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.arrow::before,
.arrow::after {
    position: relative;
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background: white;
    transition: 0.3s ease-in-out;
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    left: 6px;
    top: -1px;
    transform: rotate(-45deg);
}
